@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 276 47% 95%;
    --foreground: 278 25% 20%;
    --card: 0 0% 100%;
    --card-foreground: 278 25% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 278 25% 20%;
    --primary: 278 69% 61%;
    --primary-foreground: 276 47% 98%;
    --secondary: 276 30% 90%;
    --secondary-foreground: 278 25% 20%;
    --muted: 276 30% 90%;
    --muted-foreground: 278 15% 50%;
    --accent: 205 68% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 278 20% 85%;
    --input: 278 20% 90%;
    --ring: 278 69% 61%;
    --chart-1: 278 69% 61%;
    --chart-2: 205 68% 62%;
    --chart-3: 300 50% 70%;
    --chart-4: 260 60% 65%;
    --chart-5: 290 55% 75%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 278 15% 10%;
    --foreground: 276 30% 90%;
    --card: 278 15% 15%;
    --card-foreground: 276 30% 90%;
    --popover: 278 15% 10%;
    --popover-foreground: 276 30% 90%;
    --primary: 278 69% 61%;
    --primary-foreground: 276 47% 98%;
    --secondary: 278 15% 25%;
    --secondary-foreground: 276 30% 90%;
    --muted: 278 15% 25%;
    --muted-foreground: 278 10% 60%;
    --accent: 205 68% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 278 15% 25%;
    --input: 278 15% 25%;
    --ring: 278 69% 61%;
    --chart-1: 278 69% 61%;
    --chart-2: 205 68% 62%;
    --chart-3: 300 50% 70%;
    --chart-4: 260 60% 65%;
    --chart-5: 290 55% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
